





body {
    font-family: 'Courier New';
    font-size: 20px;
    background: #fbced5;
    color: #000;
    background-image: url(../images/cutefd.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 100px;
}

h1 {
    font-family: 'Courier New';
    color: black;
    font-size: 35px;
    text-align: center;
    margin-top: 1em;
}

a {
    color: #0e2ef3;
}

    a:link,
    a:visited,
    a:active,
    a:hover a:focus {
        color: #154adc;
    }



/*MY BOOTSTRAP OVERWRITES*/

/*.btn-primary {
    background: #ffd800
}*/


/*div {
    width: 100%;
    height: 400px;
    fbced5
    background-image: url('img_flowers.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid red;
}*/
